body{

    text-align: center
    
}
p{
    color: rgb(52, 6, 179);
   width: 300px;
   height: 500px;
   text-align: left;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html{
    background: url(img/FMA.jpg);
}
