body{

    text-align: center
    
}
p{
    color: rgb(255, 0, 170);
   width: 350px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   border: solid 4px rgb(116, 102, 102);
   border-radius: 10px 10px;
   font-size: 20px;
}
html{
    background: url(img/FMA.jpg);
}
h1{
    font-size: 50px;
    color:rgb(255, 0, 234)
    
}
h2{
    font-size: 35px;
    color: rgb(255, 0, 234);
}
li{
    color: rgb(255, 0, 221);
    width: 350px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid 4px rgb(116, 102, 102);
    border-radius: 10px 10px;
    font-size: 20px;
 }

